In [19]:
import camelot

In [14]:
file = "C:/Users/Ivan_Hladkyi/Downloads/filings-tabular/14471909.pdf"
 
tables = camelot.read_pdf(file, pages = "5")

In [15]:
tables[0].df

,0,1,2,3,4
0,Afdeling,Type,Stiftet,Investerer fortrinsvis i,Risikoprofil
1,Korte Obligationer,Udloddende,2001,Korte danske obligationer,Lav
2,Obligationer,Udloddende,1991,Danske obligationer,Lav
3,Lange Obligationer,Udloddende,2003,Lange danske obligationer,Lav til middel
4,Danmark,Udloddende,1989,Danske aktier,Middel
5,Europa,Udloddende,1985,Europæiske aktier,Middel
6,Verden,Udloddende,1986,Globale aktier,Middel
7,Nordamerika,Udloddende,2002,Nordamerikanske aktier,Middel +
8,Danske Aktier Pension,Udloddende \n*),2002,Danske Aktier,Middel

In [17]:
file = "C:/Users/Ivan_Hladkyi/Downloads/filings-tabular/53321675.pdf"
 
tables = camelot.read_pdf(file, pages = "25")

In [18]:
tables[0].df

IndexError: list index out of range